<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.datacollector.mappers.EmailMapper">
    <resultMap id="BaseResultMap" type="org.datacollector.model.Email">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="address" jdbcType="VARCHAR" property="address"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
</mapper>